body {
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  min-width: 1200px;
  font-size: 14px;
  color: #000000;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}